* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {

    /* Paleta de Cores */
    --elements-secondary: #2a574a;
    --green-fine: #78965a;
    --dark-green: #1B5E20;
    --sweet-green: #66BB6A;
    --light-green: #A5D6A7;
    
    
    --sweet-white: #FDFBF7;;      /* Branco - Pureza */
    --sweet-dark: #333333;       /* Cinza Escuro - Contraste */
    --dark: #000000;
    --color-desktop: #18181B;

    --brand-color-primary: #F7B733;
    --brand-color-secondary: #FC4A1A;
    --section-popular-brand: #FFC312;

    /* Tipografia */
    --font-title: 'Fredoka', sans-serif;
    --font-sub-title: 'Pacifico', cursive;
    --font-body: 'Nunito', sans-serif;
    --font-modern: 'Quicksand', sans-serif;

    /* Sizes */
    --h1-pacifico-mobile: 3.125rem;
    --h2-pacifico-mobile: 1.5rem;
    --h3-quicksand-mobile: 1.25rem;
    --paragraph-nunito: 1.125rem;
    --button-quicksand: 1.125rem;

    --h1-pacifico-tablet: 3.625rem;
    --h2-pacifico-tablet: 1.875rem;
    --paragraph-nunito-tablet: 1.375rem;
    
    --h1-pacifico-desktop: 3.75rem;
    --h2-pacifico-desktop: 2rem;
    --h3-quicksand-desktop: 1.625rem;
    
}

html {
    
    background-color: var(--sweet-dark);
}

@media (1024px <= width) {
    html {
        overflow-x: hidden
    }       
}


body {
    background-color: var(--sweet-dark);
    width: 100vw;
    height: 100vh;
    user-select: none;
}

ul {
    list-style: none; 
}

a {
    text-decoration: none;
    outline: none;
}

a:focus {
   filter: drop-shadow(0.125rem 0.125rem 0.3125rem var(--sweet-white));
   transform: translateY(-0.25rem);
}

.hidden {
    display: none;
}