main {
    width: 100vw;
}

.container-slider {
    height: 41.6875rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: var(--sweet-white) url(../assets/imgs/main_background.png) repeat top center / contain;
    opacity: 80%;
    position: absolute;
    z-index: -1;
}

.cont_slide{
    width: 100%;
    height: 4.0625rem;
    object-fit: cover;
}

.cont_slide:nth-child(2), .cont_slide:nth-child(3) {
    transform: translateX(100%); /* Começa deslocado para a direita */
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.cont_slide:nth-child(2).visible, 
.cont_slide:nth-child(3).visible {
  transform: translateX(0); /* Vai para a posição original (esquerda) */
  opacity: 1;
}

.container-cards {
    width: 80%;
    height: 41.6875rem;
    border-radius: 1.25rem;
    margin: auto;
    display: flex;
    z-index: 2;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
   
    align-items: center;
}

.card-shop:nth-child(1) {
    width: 18.125rem;
    height: 15.625rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    
    margin: auto
}

.card-shop:nth-child(2){
    width: 18.125rem;
    height: 15.625rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    position: relative;
    margin: auto;
}

.img-card-shop_1 {
    width: 9.375rem;
    height: 9.375rem;
    position: absolute;
    right: -1.5625rem;  
    top: 9.25rem;
    filter: drop-shadow(2px 2px 5px var(--sweet-dark));
}

.img-card-shop_2 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: -2.8125rem;
    top: 7.25rem;
    transform: scaleX(-1);
    filter: drop-shadow(2px 2px 5px var(--sweet-dark));
}

.info {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.9375rem;
    padding: 1.25rem;
    background-color: var(--sweet-dark);

}

.card-shop:nth-child(2) .info {
    height: 15rem;
    width: 17.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.25rem;
    padding: 1.25rem;
    background-color: var(--sweet-dark);
    text-align: right;
    align-items: flex-end;
}

.premium {
    width: 70%;
    text-align: center;
    align-content: center;
    height: 1.875rem;
    position: absolute;
    top: 0.1875rem;
    right: 0;
    border-top-right-radius: 0.9375rem;
    border-bottom-left-radius: 0.9375rem;
    font-family: var(--font-modern);
    background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
}

.card-shop:nth-child(2) .info::before {
    content: "";
    background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
    position: absolute;
    inset: 0;
    border-radius: 24px;
    z-index: -1;
    width: 18.375rem;
}

.info h3 {
    font-family: var(--font-modern);
    font-size: var(--h2-pacifico-tablet);
    color: var(--sweet-white);
    font-weight: bolder;
    padding-top: 0.625rem;
}

.info .btn-shop{
    font-family: var(--font-modern);
    font-size: var(--button-quicksand);
    background: var(--elements-secondary);
    color: var(--sweet-white);
    outline: 0.0625rem solid ;
    text-align: center;
    align-content: center;
    width: 8.125rem;
    height: 2.5rem;
    border-radius: 0.625rem;

}

.btn-shop:hover{
    background: var(--sweet-green);
    color: var(--sweet-dark);
    font-weight: bold;    
}

.btn-shop:active{
    background: var(--sweet-green);
    color: var(--sweet-dark);
    font-weight: bold;
    transform: translateY(0.125rem);
    box-shadow: 0rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}

/*  Estilização Categorias de Comidas  */
.container-category {
    width: 100%;
    background: var(--green-fine);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    align-items: center;
}

.container-category h4 {
    font-family: var(--font-title);
    font-size: var(--h1-pacifico-mobile);
    text-align: center;
    padding: 1.875rem 0;
    color: var(--sweet-white);
    text-shadow: 0 0.125rem 0.25rem var(--sweet-dark);

}

.container-category .container-category-foods {
    max-width: 56.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.125rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.25rem 0;

}

.container-category 
.container-category-foods 
.box-foods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15.625rem;
}

.container-category 
.container-category-foods 
.box-foods a {
    background: var(--sweet-dark);
    border-radius: 50%;
}

.container-category 
.container-category-foods 
.box-foods div p {
    font-size: var(--h3-quicksand-mobile);
    font-family: var(--font-sub-title);
    color: var(--sweet-white);
    text-shadow: 0 0.125rem 0.25rem var(--sweet-dark);

}

.container-category 
.container-category-foods .box-foods:hover {

    & a {
        background: var(--brand-color-primary);
        border-radius: 50%;
    }

    & div p {
        color: var(--sweet-dark);
        text-shadow: 0 0.125rem 0.25rem var(--sweet-white);
    }

     
}


/*  Estilização Seção da Marcas  */

.secao-marcas {
    width: 100%;
    height: 18.75rem;
    background: var(--section-popular-brand);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}

.secao-marcas .titulo-secao {
    font-family: var(--font-sub-title);
    font-size: var(--h2-pacifico-desktop);
    color: var(--elements-secondary);
    text-align: center;
    text-shadow: 0 0.125rem 0.25rem var(--sweet-white);
    height: 8.125rem;
    align-content: center
}

.secao-marcas .grid-marcas {
    display: flex;
    width: 18.75rem;
    height: 21.875rem;
    flex-direction: row;
    gap: 0.625rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.grid-marcas a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.grid-marcas a img {
    filter: drop-shadow(2px 2px 5px var(--sweet-dark));
}

.grid-marcas:hover {
    & a img {
        filter: drop-shadow(2px 2px 5px var(--sweet-white));
    }
}

.grid-marcas a:nth-child(1) img {
    width: 18.75rem;
    height: 13.25rem;
}

.grid-marcas a:nth-child(2) img {
    width: 7.8125rem;
    height: 7rem;
}

.grid-marcas a:nth-child(3) img {
    width: 18.75rem;
    height: 7rem;
}

.grid-marcas a:nth-child(4) img {
    width: 13.125rem;
    height: 3.125rem;    
}

.grid-marcas a:nth-child(1),
.grid-marcas a:nth-child(2),
.grid-marcas a:nth-child(3),
.grid-marcas a:nth-child(4){
    display: none;
    transform: translateX(100%); /* Começa deslocado para a direita */
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.grid-marcas a:nth-child(1).visible,
.grid-marcas a:nth-child(2).visible,
.grid-marcas a:nth-child(3).visible,
.grid-marcas a:nth-child(4).visible {
    display: flex;
    transform: translateX(0); /* Vai para a posição original (esquerda) */
    opacity: 1;
    
}

/*  Estilização Background ultimo elemento do main*/
.roll_background {
    position: absolute;
    left: -0.4375rem;
    width: 50.375rem;
    height: 12.5rem;
    background: url(../assets/imgs/background-footer.png) no-repeat top center / cover;
    top: 11.0625rem;
    z-index: 0;
}

#btnTopo {
    display: none;         
    position: fixed;        
    bottom: 1.25rem;           
    right: 1.25rem;            
    z-index: 11;            
    border: none;           
    outline: none;          
    background-color: var(--sweet-dark); 
    color: var(--sweet-white);           
    cursor: pointer;        
    padding: 0.9375rem;          
    border-radius: 0.625rem;    
    font-size: 1.125rem;        
}

#btnTopo:hover {
    background-color: #555; 
}

/* ------------------------------------------------ */
/* DEFININDO MEDIA QUERY PARA TABLE DESKTOP */
/* ------------------------------------------------ */
@media (48rem <= width <= 63.9375rem){
    
    .container-slider {
        height: 41.6875rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        background: var(--sweet-white) url(../assets/imgs/main_background.png) repeat top center / contain;
        opacity: 80%;
        position: absolute;
        z-index: 1;
        filter: invert(1);
    }

    .cont_slide{
        display: none;
    }

    .container-cards {
        width: 80%;
        height: 26.5625rem;
        border-radius: 1.25rem;
        margin: auto;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        align-items: center;
    }

    .card-shop:nth-child(1) {
        width: 18.125rem;
        height: 15.625rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        align-items: center;
        margin: 0;
        position: relative;
        
    }

    .img-card-shop_1 {
        width: 9.375rem;
        height: 9.375rem;
        position: absolute;
        left: 10.9375rem;
        top: 7.0625rem;
    }

    .card-shop:nth-child(2) {
        width: 18.125rem;
        height: 15.625rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        align-items: center;
        margin: 0;
        
    }

    .card-shop:nth-child(2) .img-card-shop_2 {
        width: 10rem;
        height: 10rem;
        position: absolute;
        right: -4.375rem;
        top: 7.25rem;
        left: inherit;
        transform: scaleX(-1);
    }

    .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: inherit;
        gap: 1.875rem;
        padding: 1.25rem;
        background-color: var(--sweet-dark);
        border-top-right-radius: 1.5625rem;
        border-bottom-left-radius: 1.5625rem;
    }

    .card-shop:nth-child(2) .info {
        height: 15rem;
        width: 17.8125rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: inherit;
        padding: 1.25rem;
        background-color: var(--sweet-dark);
        text-align: left;
        align-items: flex-start;
        border-top-right-radius: 1.5625rem;
        border-bottom-left-radius: 1.5625rem;

    }

    .card-shop:nth-child(2) .info::before {
        content: "";
        background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
        position: absolute;
        inset: 0;
        left: -0.4375rem;
        border-radius: inherit;
        border-top-right-radius: 1.5625rem;
        border-bottom-left-radius: 1.5625rem;
        z-index: -1;
        width: 18.75rem;
    }

    .roll_background {
        position: absolute;
        left: -0.1875rem;
        width: 105vw;
        height: 15.625rem;
        background: url(../assets/imgs/background-footer.png) no-repeat top center / cover;
        top: 10rem;
        z-index: 0;
    }
}

@media (64rem <= width) {

    main {
        position: relative;
        background-color: var(--sweet-white);
    }

    .container-slider{
        display: none;
    }

    .container-cards {
        width: 80%;
        height: 37.5rem;
        border-radius: 1.25rem;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .card-shop:nth-child(1) {
        width: 21.875rem;
        height: 20rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        align-items: center;
        margin: auto;
        position: relative;
    }

    .img-card-shop_1 {
        width: 15.625rem;
        height: 16.25rem;
        position: absolute;
        right: -4.6875rem;
        top: 5rem;
    }

    .card-shop:nth-child(2) {
        width: 21.875rem;
        height: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        position: relative;
        margin: auto;
    }

    .img-card-shop_2 {
        width: 17.5rem;
        height: 17.5rem;
        position: absolute;
        left: inherit;
        right: -6.4375rem;
        top: 4.375rem;
        transform: scaleX(-1);
    }

    .info {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 0.9375rem;
        padding: 1.25rem;
        background-color: var(--sweet-dark);
    }

    .card-shop:nth-child(2) .info {
        height: 17.8125rem;
        width: 20.9375rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 1.25rem;
        padding: 1.25rem;
        background-color: var(--sweet-dark);
        text-align: left;
        align-items: flex-start;
    }

    .card-shop:nth-child(2) .info::before {
        content: "";
        background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
        position: absolute;
        inset: 0;
        border-radius: 24px;
        z-index: -1;
        width: 22.8125rem;
        overflow: hidden;
    }

    .premium {
        width: 70%;
        text-align: center;
        align-content: center;
        height: 2.8125rem;
        position: absolute;
        top: 0rem;
        right: -0.75rem;
        border-top-right-radius: 1.25rem;
        border-bottom-left-radius: 1.25rem;
        font-family: var(--font-modern);
        background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
        z-index: 0;
        font-size: var(--h3-quicksand-mobile);
    }

    .info h3 {
        font-family: var(--font-modern);
        font-size: var(--h2-pacifico-desktop);
        color: var(--sweet-white);
        font-weight: bolder;
        padding-top: 0.625rem;
    }

    .info .btn-shop {
        font-family: var(--font-modern);
        font-size: var(--h3-quicksand-desktop);
        background: var(--elements-secondary);
        color: var(--sweet-white);
        outline: 0.0625rem solid;
        text-align: center;
        align-content: center;
        width: 9.0625rem;
        height: 4.375rem;
        border-radius: 0.625rem;
    }

    .info .btn-shop:hover {
        background: var(--sweet-green);
        color: var(--sweet-dark);
        font-weight: bold;   
    }

    .info .btn-shop:active{
        background: var(--sweet-green);
        color: var(--sweet-dark);
        font-weight: bold;
        transform: translateY(0.125rem);
        box-shadow: 0rem 0.1875rem 0.25rem var(--sweet-white);
    }

    .container-category .container-category-foods {
        max-width: 80.25rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1.25rem 0;
    }
  
    .container-category .container-category-foods .box-foods {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        height: 15.625rem;
    }

    .container-category 
    .container-category-foods 
    .box-foods a {
        background: var(--sweet-dark);
        border-radius: 50%;
        width: 9.375rem;
        height: 9.375rem;
    }

    .container-category 
    .container-category-foods 
    .box-foods a img {
        width: 9.375rem;
        height: 9.375rem;
    }

    .container-category 
    .container-category-foods 
    .box-foods div p {
        font-size: var(--paragraph-nunito);
        font-family: var(--font-body);
        color: var(--sweet-white);
        text-shadow: 0 0.125rem 0.25rem var(--sweet-dark);
    }

    #btnTopo {
        display: none;         
        position: fixed;        
        bottom: 1.25rem;           
        right: 1.25rem;            
        z-index: 99;            
        border: none;           
        outline: none;          
        background-color: var(--sweet-dark); 
        color: var(--sweet-white);           
        cursor: pointer;        
        padding: 0.9375rem;          
        border-radius: 0.625rem;    
        font-size: 1.125rem;        
    }

    #btnTopo:hover {
        background-color: #555; 
    }

    .secao-marcas .titulo-secao {
        font-family: var(--font-sub-title);
        font-size: var(--h1-pacifico-mobile);
        color: var(--elements-secondary);
        text-align: center;
        text-shadow: 0 0.125rem 0.25rem var(--sweet-white);
        height: 8.125rem;
        align-content: center;
    }

    .secao-marcas .grid-marcas {
        display: flex;
        width: max-content;
        height: 21.875rem;
        flex-direction: row;
        gap: 3.125rem;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }


    .grid-marcas a:nth-child(1),
    .grid-marcas a:nth-child(2),
    .grid-marcas a:nth-child(3),
    .grid-marcas a:nth-child(4){
        display: flex;
        transform: translateX(0); /* Começa deslocado para a direita */
        opacity: 1;
        transition: transform 0.2s ease, opacity 0.2s ease;
    }

    .grid-marcas a:nth-child(1):active,
    .grid-marcas a:nth-child(2):active,
    .grid-marcas a:nth-child(3):active,
    .grid-marcas a:nth-child(4):active {
        & img {
            transform: translateY(-0.25rem);
        }
    }

    .grid-marcas a:nth-child(1) img {
        width: 18.75rem;
        height: 13.25rem;
    }

    .grid-marcas a:nth-child(2) img {
        width: 7.8125rem;
        height: 7rem;
    }

    .grid-marcas a:nth-child(3) img {
        width: 12.5rem;
        height: 7rem;
    }

    .grid-marcas a:nth-child(4) img {
        width: 9.375rem;
        height: 2.5rem;    
    }

    .roll_background {
        position: absolute;
        left: -0.3125rem;
        width: 105vw;
        height: 15.625rem;
        background: url(../assets/imgs/background-footer.png) no-repeat top center / cover;
        top: 5rem;
        z-index: 0;
    }
}